@import url('../css/variables.css');

.todo-list {
  display: flex;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todos h2 {
  color: var(--blue);
  text-align: center;
}

.select {
  position: absolute;
  height: fit-content;
  margin-left: 2rem;
}
