@import url('./variables.css');

.todo-item {
  background-color: var(--blue);
  height: 4rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 7rem;
  width: fit-content;
}

.checkbox {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
}

.todo-text-input {
  color: white;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  field-sizing: content;
  padding-bottom: 3px;
}

.todo-text-input:focus {
  outline: none;
}

.underline {
  text-decoration: underline;
}

.trashcan {
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.trashcan:hover {
  color: brown;
}

.edit {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.edit:hover {
  color: black;
}

.author-text {
  color: white;
  font-size: 1.2rem;
  text-align: right;
}

.date-text {
  font-size: 0.7rem;
  color: white;
  margin-top: 10px;
}

.done {
  text-decoration: line-through;
  color: var(--done);
}
